body {
    margin: 0;
    text-align: center;
    background: black;
    color: white;
    font-family: Arial;
    overflow: hidden;
}

h1 {
    margin-top: 100px;
    font-size: 40px;
    animation: glow 1s infinite alternate;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    background: gold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: orange;
}

#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes glow {
    from { text-shadow: 0 0 10px yellow; }
    to { text-shadow: 0 0 30px red; }
}
