<body>

<canvas id="fireworks"></canvas>

<div class="card">
    <h1 id="main-heading" style="display:none;">
        🎉 Happy New Year 2026 🎉
    </h1>

    <p class="subtitle">Enter your name for a surprise</p>

    <input type="text" id="name" placeholder="Enter your name">
    <br><br>

    <button onclick="getWish()">Click Me for the surprise 🎁</button>

    <h2 id="result"></h2>
</div>

<audio id="music" src="/static/music.mp3"></audio>

<script src="/static/script.js"></script>

<div class="credit">
    🌟 This New Year Surprise App is created by Vishnu M 🌟
</div>

</body>
