<!DOCTYPE html>
<html>
<head>
    <title>New Year Surprise</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<canvas id="fireworks"></canvas>

<h1>🎆 Happy New Year 2026 🎆</h1>
<p>Enter your name for a surprise</p>

<input type="text" id="name" placeholder="Enter your name">
<br><br>

<button onclick="getWish()">Click Me for the surprise 🎁</button>

<h2 id="result"></h2>

<audio id="music" src="/static/music.mp3"></audio>

<script src="/static/script.js"></script>
<div style="position: fixed; bottom: 10px; width: 100%; text-align: center; color: white; font-size: 17px; text-shadow: 1px 1px 3px black;">
     🌟 This New Year Surprise App is created by Vishnu m 🌟
</div>

</body>
</html>
